[submodule "Megatron-LM"]
	path = Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "TransformerEngine"]
	path = TransformerEngine
	url = https://github.com/NVIDIA/TransformerEngine.git
[submodule "mbridge"]
	path = mbridge
	url = https://github.com/ISEEKYAN/mbridge.git
[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "Megatron-LM-Enhanced"]
	path = Megatron-LM-Enhanced
	url = git@github.com:ETOgaosion/Megatron-LM.git
[submodule "TransformerEngine-Enhanced"]
	path = TransformerEngine-Enhanced
	url = git@github.com:ETOgaosion/TransformerEngine.git
[submodule "verl-enhanced"]
	path = verl-enhanced
	url = git@github.com:ETOgaosion/verl.git
